.Main-container
{ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;

}
/* .Todo-class{
    display:inline-block ;
} */
 .list{
    list-style-type: none;

 }